@use "./utils.scss";
@use "./reset.scss";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 16px;
}

a {
    color: utils.$blue;

    &:hover {
        color: utils.$blue-dark;
    }

    &:active {
        color: utils.$blue-darker;
    }
}

$toast-margin: 20px;

#toast {
    position: fixed;
    bottom: $toast-margin;
    right: $toast-margin;
    padding: 10px 20px;
    color: utils.$white;
    border-radius: utils.$radius-medium;
    font-size: utils.$font-xl;
    opacity: 0;
    transition: opacity 0.5s ease;
    visibility: hidden;
}

.toast {
    &--error {
        background-color: utils.$red-darker;
    }

    &--info {
        background-color: utils.$green;
    }
}
