<div class="form__inputs">
    <div class="form__input-container">
        {{{ InputLogin }}}
    </div>
    <div class="form__input-container">
        {{{ InputPassword }}}
    </div>
</div>
<div class="form__buttons">
    {{{ ButtonAuth }}}
    {{{ ButtonNoAccount }}}
</div>