<template class="input {{#if isValid}}input--invalid{{/if}}">
    {{!isValid}}
    {{!isValid}}
    <label>{{label}}</label>
    {{{ Input }}}
    {{#unless isValid}}
    <span class="input__error-message">{{errorMessage}}</span>
    {{/unless}}
</template>