<template class="input {{#unless isValid}}input--invalid{{/unless}}">
    <label>{{label}}</label>
    {{{ Input }}}
    {{#unless isValid}}
    <span class="input__error-message">{{errorMessage}}</span>
    {{/unless}}
</template>