<template class="input {{#if errorMessage}}input--invalid{{/if}}">
    <label>{{label}}</label>
    {{{ Input }}}
    {{#if errorMessage}}
    <span class="input__error-message">{{errorMessage}}</span>
    {{/if}}
</template>