<nav>
    <ul>
        <li><a href="#" page="login">Login</a></li>
        <li><a href="#" page="signin">Sign in</a></li>
        <li><a href="#" page="chooseChat">Choose Chat</a></li>
        <li><a href="#" page="chat">Chat</a></li>
        <li><a href="#" page="search">Search</a></li>
        <li><a href="#" page="addUser">Add user</a></li>
        <li><a href="#" page="addUserModal">Add user modal</a></li>
        <li><a href="#" page="profile">Profile</a></li>
        <li><a href="#" page="changeProfile">Change Profile</a></li>
        <li><a href="#" page="changePassword">Change Password</a></li>
        <li><a href="#" page="page404">404</a></li>
        <li><a href="#" page="page500">500</a></li>
    </ul>
</nav>
