$command-popup-button-icon-size: 20px;

.message-box__command-popup {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    .image-button {
        img {
            width: $command-popup-button-icon-size;
            height: $command-popup-button-icon-size;
        }
    }
}
