{{#> GoBackLayout}}
  {{#> Profile }}
      <div class='profile__layout-item'>
        <div class='profile__layout-item-key'>
            {{> Link text="Изменить данные" }}
        </div>
      </div>
      <div class='profile__layout-item'>
        <div class='profile__layout-item-key'>
            {{> Link text="Изменить пароль" }}
        </div>
      </div>
      <div class='profile__layout-item'>
        <div class='profile__layout-item-key'>
            {{> Link type="danger" text="Выйти" }}
        </div>
      </div>
  {{/Profile}}
{{/GoBackLayout}}
