@use "../../../scss/utils.scss";

$sidebar-p: 12px;
$sidebar-w: 330px;

$searchbox-p: 12px 0;
$searchbox-input-p: 6px;
$searchbox-input-h: 32px;

$searchbox-icon-size: 32px;

$profile-link-p: 12px 0;

.layout {
    width: 100%;
    height: 100vh;
    display: flex;

    &__sidebar {
        display: flex;
        box-sizing: border-box;
        padding: $sidebar-p;
        flex-direction: column;
        min-width: $sidebar-w;
        width: $sidebar-w;
        background-color: utils.$gray-lightest;
        border-right: 1px solid utils.$gray-lighter;
    }

    &__content {
        width: 100%;
    }

    .searchbox {
        padding: $searchbox-p;
        display: flex;

        &-input {
            width: 100%;

            & > input {
                width: 100%;
                text-align: center;
                border: 0;
                padding: $searchbox-input-p;
                font-size: utils.$font-small;
                line-height: $searchbox-input-h;
                height: $searchbox-input-h;
                background-color: utils.$gray-lighter;
                border-top-left-radius: utils.$radius-small;
                border-bottom-left-radius: utils.$radius-small;
            }
        }

        & > img {
            width: $searchbox-icon-size;
            height: $searchbox-icon-size;
            background-color: utils.$gray-lighter;
            border-top-right-radius: utils.$radius-small;
            border-bottom-right-radius: utils.$radius-small;
        }
    }

    .profile-link {
        align-self: end;
        padding: $profile-link-p;
    }
}
