<div class="layout">
    <aside class="layout__sidebar">
        <a class="profile-link" href="#">Профиль</a>
        <form class="searchbox">
            <input type="search" value="{{searchText}}">
            <img src="/images/search.svg" alt="Поиск"/>
        </form>
        {{> ContactList contacts=contacts }}
    </aside>
    <div class="layout__content">
        {{> @partial-block }}
    </div>
</div>
