@use "../../../scss/utils.scss";

$message-box-p: 10px 20px;
$message-box-pr: 0;

$message-box-title-pb: 12px;

$message-box-title-name-p: 12px 0;
$message-box-title-name-pl: 12px;

$message-box-title-avatar-size: 36px;

$message-box-messages-pr: 16px;

$message-box-date-separator-p: 20px;

$message-box-send-messages-p: 16px;

$message-box-send-message-input-p: 20px 16px;
$message-box-send-message-input-h: 32px;

$message-box-send-message-button-ml: 12px;
$message-box-send-message-button-size: 40px;

.message-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: $message-box-p;
    padding-right: $message-box-pr;
    box-sizing: border-box;

    &--empty {
        align-items: center;
        justify-content: center;
    }

    &__menu {
        &--active {
            background-color: utils.$gray-lightest;
            border-radius: utils.$radius-round;
        }
    }

    &__title {
        display: flex;
        padding-bottom: $message-box-title-pb;
        border-bottom: 1px solid utils.$gray-lighter;
        padding-right: 16px;
    }

    &__title-name {
        padding: $message-box-title-name-p;
        padding-left: $message-box-title-name-pl;
        flex-grow: 1;
    }

    &__title-avatar {
        & > img {
            border-radius: utils.$radius-round;
            width: $message-box-title-avatar-size;
            height: $message-box-title-avatar-size;
        }
    }

    &__messages {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
        padding-right: $message-box-messages-pr;

        & img {
            max-width: 100%;
        }
    }

    &__date-separator {
        text-align: center;
        padding: $message-box-date-separator-p;
    }

    &__send-message-input {
        flex-grow: 1;

        &--invalid {
            input {
                outline: 2px solid utils.$red;
            }
        }

        input {
            width: 100%;
            padding: $message-box-send-message-input-p;
            font-size: utils.$font-small;
            line-height: $message-box-send-message-input-h;
            height: $message-box-send-message-input-h;
            border: 0;
            background-color: utils.$gray-lighter;
            border-radius: utils.$radius-medium;
        }
    }

    &__send-message {
        border-top: 1px solid utils.$gray-lighter;
        display: flex;
        padding-right: $message-box-send-messages-p;
        padding-top: $message-box-send-messages-p;

        & > button {
            margin-left: $message-box-send-message-button-ml;
            width: $message-box-send-message-button-size;
            height: $message-box-send-message-button-size;
            border-radius: utils.$radius-round;
            padding: 0;
        }
    }
}
