<template class="message-box">
    {{> ChatTitle title="Вадим" }}
    <div class="message-box__messages">
        <div class="message-box__date-separator">19 июля</div>
        {{#each messages}}
        {{> Message }}
        {{/each}}
    </div>
    <form class="message-box__send-message">
        <input type="text" name="message" placeholder="Сообщение..." />
        <button class="button button--primary">→</button>
    </form>
</template>