<template class="profile__layout-item">
    <div class="profile__layout-item-key">{{label}}</div>
    <div class="profile__layout-item-value">
        <input type={{type}} value={{value}} name={{name}} />
    </div>
</template>