<template class="message {{#if my}}message--my{{/if}} {{#if read}}message--read{{/if}}">
    {{#if text}}
    {{text}}
    {{/if}}
    {{#if attachment}}
    <img src="{{attachment}}" alt="Прикрепленное изображение" />
    {{/if}}
    <div class="message__info">
        {{#if read}}
        <div class="message__status">
            <img src="/images/messageRead.svg" alt="Сообщение прочитано" />
        </div>
        {{/if}}
        <div class="message__date">{{date}}</div>
    </div>
</template>